<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.CurriculumMapper">

    <select id="curriculumList" resultType="kr.ed.haebeop.domain.Curriculum">
        select * from curriculum where lcode = #{lcode}
    </select>

    <select id="curriculumListWithPage" resultType="kr.ed.haebeop.domain.Curriculum">
        SELECT * FROM curriculum
        where lcode = #{lcode}
        ORDER BY ccode LIMIT #{postStart}, #{postCount}
    </select>

    <insert id="curriculumInsert">
        insert into curriculum
        values(default, #{lcode}, #{cname}, #{cvideo})
    </insert>

    <select id="getCount" resultType="integer">
        select count(*) FROM curriculum where lcode = #{lcode}
    </select>

    <select id="curriculumDetail" resultType="kr.ed.haebeop.domain.Curriculum">
        SELECT ccode, l.lcode as lcode, lname, cname, cvideo FROM curriculum c JOIN lecture l ON (c.lcode=l.lcode) WHERE ccode=#{ccode}
    </select>

    <select id="findLcode" resultType="String">
        SELECT lcode FROM curriculum WHERE ccode = #{ccode}
    </select>

</mapper>