<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.CurriculumMapper">

    <select id="curriculumList" resultType="kr.ed.haebeop.domain.Curriculum">
        select * from curriculum where lcode = #{lcode}
    </select>

    <select id="curriculumListWithPage" resultType="kr.ed.haebeop.domain.Curriculum">
        SELECT * FROM curriculum
        <where>
            <if test="keyword != null">
                tname LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY tcode LIMIT #{postStart}, #{postCount}
    </select>

    <select id="curriculumDetail" resultType="kr.ed.haebeop.domain.Curriculum">
        select * from curriculum where tcode = #{tcode}
    </select>

    <select id="curriculumDetailWithname" resultType="kr.ed.haebeop.domain.Curriculum">
        select * from curriculum where tname = #{tname}
    </select>

    <insert id="curriculumInsert">
        insert into curriculum
        values(default, #{lcode}, #{cname}, #{cvideo})
    </insert>

    <update id="curriculumEdit">
        update curriculum set tname=#{tname}, ttel=#{ttel}, temail=#{temail}, tcontent=#{tcontent}, saveFile=#{saveFile}
        where tcode=#{tcode}
    </update>

    <select id="getCount" resultType="integer">
        select count(*) FROM curriculum
        <where>
            <if test="keyword != null">
                tname LIKE concat('%', #{keyword}, '%')
            </if>
        </where>
    </select>

</mapper>