<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.ReviewMapper">

    <select id="reviewList" resultType="kr.ed.haebeop.domain.Review">
        SELECT * FROM review where lcode = #{lcode}
        <if test='type.equals("new")'>
            ORDER BY rcode DESC
        </if>
        <if test='type.equals("asc")'>
            ORDER BY star
        </if>
        <if test='type.equals("desc")'>
            ORDER BY star desc
        </if>
        LIMIT 8
    </select>

    <select id="starAvg" resultType="int">
        SELECT if(ROUND(AVG(star)) IS NULL, 0, ROUND(AVG(star))) AS starAvg FROM review WHERE lcode = #{lcode}
    </select>

    <insert id="reviewInsert">
        INSERT INTO review VALUES(DEFAULT, #{lcode}, #{id}, #{star}, #{content}, DEFAULT)
    </insert>

    <select id="randomReview" resultType="kr.ed.haebeop.domain.ReviewVO">
        SELECT l.lcode AS lcode, lname, id, star, content
        FROM review r JOIN lecture l ON (r.lcode=l.lcode)
        ORDER BY star, RAND() LIMIT 5
    </select>

</mapper>